table {
	border-collapse: collapse; /*merge borders */
	background-color: white;
	background-image:  	

}

table, th, td {
    border: 1px solid black;
    padding: 10px; /*celll padding for space between lines */
    margin: 0 auto;


}


th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {  
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}




